/* styles for login.html and loggedin.html */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');


/* Design for login.html and loggedin.html pages*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container button{
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: large;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #454545;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    margin-left: 35px;
}

span#displayUsername {
    font-weight: bold;
    color: #007BFF;
}


/* Responsive Design for login.html and loggedin.html pages in Mobile*/
@media screen and (max-width: 768px) {
    .container {
        width: 250px;
    }

    h2 {
        font-size: 24px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}

